<launch>

    <!-- Sample launch file to configure voice commands to provide global go and stop commands as well as a/forward, a/backward, b/forward, and b/backward for robots 1 -> a
and 2 -> b -->
    <node name="monitor" type="glass_monitor.py" pkg="ros_glass_tools" output="screen">
        <rosparam param="monitors">
            [
            { topic: '/a/subject_pose', field: 'translation/x', op: 'gt', val : 2 , msg: 'Too Far to the left?'},
            { topic: '/a/subject_pose', field: 'translation/z', op: 'gt', val : 2 , msg: 'Too high!!!'}
            ]
        </rosparam>
    </node>

</launch>
